@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,500;6..72,700&display=swap');

#app {
}

* {
  font-family: 'Newsreader', serif;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
  color: #714444;
}

.btn {
  font-family: 'Newsreader', serifs;
  padding: 24px 32px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  border: none;
}

.btn:hover {
  transform: scale(1.0175);
}

.btn:active {
  transform: scale(0.985);
}

.btn-primary {
  background: #343027;
}

.btn-black {
  background: rgb(39, 37, 37);
}
